
<div *ngIf="story">
<h1 *ngIf="chapter == 1" (click)="nextChapter()" class="chapter ">
    {{story.titulo}}
</h1>

<div class="center-div" class="img_container">
    <img src=".\assets\imgs\characters\julio_robo1.png" >
</div>

<h3 *ngIf="chapter == 1" (click)="nextChapter()" class="story">
   {{story.paragrafo1}}
</h3>

<h1 *ngIf="chapter == 2" (click)="nextChapter()" class="story ">
    {{story.paragrafo2}}
</h1>

<h3 *ngIf="chapter == 3" (click)="nextChapter()" class="story">
    {{story.paragrafo3}}
</h3>

</div>

