<body>

<div *ngIf="loading" class="spinner-container">
    <mat-spinner mode="indeterminate" class="spinner-container"></mat-spinner>
</div>

<div *ngIf="!loading">

<h1 *ngIf="chapter == 1" (click)="nextChapter()" class="chapter ">
    Julio e o Robô na Floresta Encantada
</h1>

<div class="center-div" class="img_container">
    <img src=".\assets\imgs\characters\robo_na_floresta.jpg" >
</div>

<h3 *ngIf="chapter == 1" (click)="nextChapter()" class="story">
    Havia uma vez um cavalheiro chamado Julio que vivia em um castelo na floresta encantada.<br> Julio era corajoso e
    bondoso. Um dia, enquanto cavalgava na floresta, ele ouviu um som metálico<br> e encontrou um robô amigável perdido,
    chamado Robôberto.
</h3>

<h1 *ngIf="chapter == 2" (click)="nextChapter()" class="chapter ">
    Em Busca da Princesa Adormecida
</h1>

<h3 *ngIf="chapter == 2" (click)="nextChapter()" class="story">
    Julio e Robôberto se tornaram amigos e decidiram explorar a floresta. Julio contou a Robôberto sobre a lenda da
    princesa adormecida na floresta. Juntos, eles enfrentaram desafios mágicos e enigmas misteriosos.
</h3>

<h1 *ngIf="chapter == 3" class="chapter ">
    O Despertar da Princesa e a Amizade Eterna
</h1>

<h3 *ngIf="chapter == 3" class="story">
    Julio e Robôberto chegaram a um castelo encantado e encontraram a princesa Aurora adormecida. Julio a acordou com um
    beijo gentil. A floresta celebrou, e Julio, Aurora e Robôberto se tornaram amigos inseparáveis, vivendo aventuras
    emocionantes na floresta encantada para sempre. Eles provaram que com amor e amizade, qualquer desafio pode ser
    superado.
</h3>
</div>
</body>
