<div class="container">
    <div [ngClass]="{'done': step == 1}" class="circle">
        <p>1</p>
    </div>

    <p class="dash"></p>
    <div [ngClass]="{'done': step == 2}" class="circle">
        <p>2</p>
    </div> 

     <p class="dash"></p>
    <div [ngClass]="{'done': step == 3}" class="circle">
        <p>3</p>
    </div> 

     <p class="dash"></p>
    <div [ngClass]="{'done': step == 4}" class="circle">
        <p>4</p>
    </div>

    <p class="dash"></p>
    <div [ngClass]="{'done': step == 5}" class="circle">
        <p>5</p>
    </div>
</div>