nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0px 1rem;
}

.logo{
    margin-top: 16px;
    cursor: pointer;
}
.arrowContainer{
    width: 100px; 
    display: flex;
}
 
.arrow{
    margin-right: auto;
    width: 1.5rem ;
    cursor: pointer;
}

.log{
    cursor: pointer;
    width: 100px;
    display: flex;
    p{
        margin: auto;
        margin-left: 10px;
    }
}
