<nav>
    <div *ngIf="step != 1 && step != 6 " (click)="handleBack()" class="arrowContainer">
        <img src=".\assets\backArrow.svg" class="arrow" alt="">
    </div>
    <div *ngIf="step == 1 || step == 6 " style="opacity: 0;" class="arrowContainer">
        <img src=".\assets\backArrow.svg" class="arrow" alt="">
    </div>
    <img (click)="handleSetStep(1)" class="logo" src=".\assets\logo.svg" alt="">

    <div class="log">
        <img style=" margin: auto; width: 1rem;" src=".\assets\people.svg" alt="">
        <p>
            Olá {{username}}
        </p>
    </div>
</nav>
