.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f2f3f5;
    left: 50%;

    .body {
        display: block;
    }

    .steper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f3f5;

    }
}

.body {
    display: block;
}