<div class="container">
  <app-header></app-header>

  <!-- <div *ngif="character$ | async as body "> -->
  <div class="body">
    <app-genre (clickEventHandle)="selectGenre($event)" *ngIf="step==1"> </app-genre>
    <app-background (clickEventHandle)="selectGenre($event)" *ngIf="step==2"> </app-background>
    <app-character (enviarNome)="getName($event)" (clickEventHandle)="selectGenre($event)" *ngIf="step==3"> </app-character>
    <app-history [name]="name" *ngIf="step == 4" > </app-history>
  </div>

  <app-footer></app-footer>
<!-- </div> -->
</div>