<div class="container">
  <app-header *ngIf="step !=0 " (setStep)="setStep($event)"></app-header>

  <mat-horizontal-stepper class="steper" linear #stepper>
    <mat-step>
      <ng-template matStepLabel>Passo 1</ng-template>
      <div *matStepperContent>
        <app-genre></app-genre>
      </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Passo 2</ng-template>
      <div *matStepperContent>
        <app-background></app-background>
      </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Passo 3</ng-template>
      <div *matStepperContent>
        <app-gender></app-gender>
      </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Passo 4</ng-template>
      <div *matStepperContent>
        <app-character></app-character>
      </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Passo 5</ng-template>
      <div *matStepperContent>
        <app-history></app-history>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="body">
    <app-login *ngIf="step==0" (login)="nextStep()"> </app-login>
    <app-genre (clickEventHandle)="selectGenre($event)" *ngIf="step==1"> </app-genre>
    <app-background (clickEventHandle)="selectBackground($event)" *ngIf="step==2"> </app-background>
    <app-gender (clickEventHandle)="selectGender($event)"  *ngIf="step==3"> </app-gender>
    <app-character  (clickEventHandle)="selectCharacter($event)" [support]="false" *ngIf="step==4"> </app-character>
    <app-character  (clickEventHandle)="selectSuports($event)" [support]="true" *ngIf="step==5"> </app-character>
    <app-history [name]="name" *ngIf="step == 6" > </app-history>
    <!-- <app-cadastro *ngIf="step==0" (cadastro)="nextStep()"></app-cadastro> -->
  </div>

  <app-footer></app-footer>
<!-- </div> -->
</div>
