<div class="container">
    <div class="container-two">
        <div class="row">
            <h1>Escolha um nome bem criativo</h1>
            <input class="btn1" [(ngModel)]="name" type="text">
        </div>
        <div class="row">
            <h1 style="padding: 10px;">Escolha o gênero do seu personagem</h1>
            <div class="box">
                <button mat-fab extended class="button-span">
                    <div class="item-btn" (clickEventHandle)="handleClick($event)" >
                        <img class="img1" src=".\assets\4_Genero-Personagem\masculino.png" >
                        <span class="btnn">Masculino</span>
                    </div>
                </button>
                <button mat-fab extended class="button-span1">
                    <div class="item-btn" (clickEventHandle)="handleClick($event)" >
                        <img class="img2" src=".\assets\4_Genero-Personagem\feminino.png" >
                        <span class="btnn1">Feminino</span>
                    </div>
                </button>
            </div>
        </div>
        <div style="display: flex; justify-content:end">
            <button class="continue" mat-fab extended>
            <div (click)="handleClick($event)" >
                <span>Continuar</span>
            </div>
            </button>
        </div>
    </div>
    
</div>
