.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #3469FF;

    h1 {
        margin: 10px auto;
        font-weight: 550;
        text-align: center;
    }

    .row {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .box {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .item-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn1 {
        margin: 10px auto;
        display: flex;
        width: 90%;
        border: 1px solid #9e9c9c;
        background: #f1efef;
        width: 450px;
        height: 40px;
        border-radius: 60px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
    }
}

.button-span {

    font-family: 'Inclusive Sans', sans-serif;
    text-align: center auto;
    background: #4B0082;
    padding: flex auto;
    border-radius: 100px;
    width: 200px;
    height: 40px;

    .img1 {
        max-width: 30px;
        max-height: 30px;
        margin-right: 10px;
    }

    .btnn {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
}

.button-span1 {
    display: flex;
    align-items: center;
    font-family: 'Inclusive Sans', sans-serif;
    background: #4B0082;
    padding: flex auto;
    border-radius: 100px;
    width: 200px;
    height: 40px;

    .img2 {
        max-width: 30px;
        max-height: 30px;
        margin-right: 10px;
        display: inline-block;
    }

    .btnn1 {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
    }

}
.continue{
  color: white;
  background-color: #3469FF;
  //width: 100px;
};
.center-div {
    padding: 2rem;
    margin: auto;
    width: 100%;
    border: 2px solid red;
    padding: 40px;
}

@media (max-width: 580px) {
    .center-div{
        padding: 1rem;
    }
}
