<div class="container">
    <h1>Escolha um Gênero</h1>
    <div class="center-div">
        <app-card (clickEventHandle)="handleClick($event)"  title="Aventura" img_src=".\assets\imgs\characters\aventura.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Fantasia" img_src=".\assets\imgs\characters\Fantasia.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Ação" img_src=".\assets\imgs\characters\Ação.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Futuristica" img_src=".\assets\imgs\characters\Futuristica.png" > </app-card>
    </div>
</div>



