<div class="container">
    <h1>Escolha um gênero</h1>
    <div class="center-div">        
        <app-card (clickEventHandle)="handleClick($event)"  title="Piratas" img_src=".\assets\imgs\characters\pirataria.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Piratas2" img_src=".\assets\imgs\characters\pirataria.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Piratas3" img_src=".\assets\imgs\characters\pirataria.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Piratas4" img_src=".\assets\imgs\characters\pirataria.png" > </app-card>
    </div>
</div>
