<div class="container">
    <h1>Escolha o gênero da sua história</h1>
    <div class="center-div">
        <app-card (clickEventHandle)="handleClick($event)"  title="Aventura" img_src=".\assets\1_Genero\1_Aventura.jpg" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Fantasia" img_src=".\assets\1_Genero\2_Fantasia.jpg" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Mistério" img_src=".\assets\1_Genero\3_Misterio.jpg" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Sci-Fi" img_src=".\assets\1_Genero\4_Sci-Fi.jpg" > </app-card>
    </div>
</div>