.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #3469FF;

    h1 {
        margin: 10px auto;
        font-weight: 550;
    }
}

.center-div {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

@media (max-width: 580px) {
    .center-div{
        padding: 1rem;
    }
}