<div class="container">
    <h1 *ngIf="!supports">Escolha um Personagem</h1>
    <h1 *ngIf="supports">Escolha outros aventureiros</h1>
    <div class="center-div">
        <app-card (clickEventHandle)="handleClick($event,1)" title="Princesa" img_src=".\assets\imgs\characters\Princesa.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event,2)" title="Pirata" img_src=".\assets\imgs\characters\Pirata.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event,3)" title="Astronauta" img_src=".\assets\imgs\characters\Astronauta.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event,4)" title="Fada" img_src=".\assets\imgs\characters\Fada.png" > </app-card>
    </div>

    <button *ngIf="supports" (click)="finish()">Finalizar</button>
</div>