<div class="container">
    <h1>Escolha um Personagem</h1>
    <div class="center-div">
        <app-card (clickEventHandle)="handleClick($event)"  title="Princesa" img_src=".\assets\imgs\characters\Princesa.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Pirata" img_src=".\assets\imgs\characters\Pirata.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Astronauta" img_src=".\assets\imgs\characters\Astronauta.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Fada" img_src=".\assets\imgs\characters\Fada.png" > </app-card>
    </div>
  </div>
  