*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #dec229;
    font-weight: bold;
}

div{
   background-color: #f2f3f5; 
}

.title-1{
    margin: 1rem auto;
    font-size: 2rem;
    color: gray;
    // font-family: 'Nabla', cursive; 
    font-family: 'Inclusive Sans', sans-serif;
}


// Fontes disponiveis 

// font-family: 'Inclusive Sans', sans-serif;
// font-family: 'Nabla', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
