<div class="container">
    <h1>Agora escolha um Cenário</h1>
    <div class="center-div" >
        <app-card (clickEventHandle)="handleClick($event)"  title="Oceano" img_src=".\assets\2_Cenario\1_Oceano.jpg" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Trem" img_src=".\assets\2_Cenario\2_Trem.jpg" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Planeta Distante" img_src=".\assets\2_Cenario\3_Planeta Distante.jpg" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Cidade Mágica" img_src=".\assets\2_Cenario\4_Cidade Magica.jpg" > </app-card>
    </div>
</div>