<div class="container">
    <h1>Escolha um Cenário</h1>
    <div class="center-div">
        <app-card (clickEventHandle)="handleClick($event)"  title="Espaço" img_src=".\assets\imgs\characters\Espaço.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Reino Medieval" img_src=".\assets\imgs\characters\Reino_Medieval.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Floresta" img_src=".\assets\imgs\characters\Floresta.png" > </app-card>
        <app-card (clickEventHandle)="handleClick($event)" title="Fundo do Mar" img_src=".\assets\imgs\characters\Fundo_do_Mar.png" > </app-card>
    </div>
  </div>